<% smackdown=locals[:smackdown] %>
<div class="col-lg-4 col-xs-6">
  <div class="box box-solid box-success">
    <%= link_to t('Share_on_Facebook'), "/shareables/smackdown/"+smackdown.id.to_s+"/0" %>
  </div>
</div>
