<div class="col-lg-12 col-xs-12">
  <div class="box box-solid box-success" align="center">
    <% smackdown=locals[:smackdown] %>
    <% user1 = User.find_by_id(smackdown.player1_id) %>
    <% user2 = User.find_by_id(smackdown.player2_id) %>
    <img class='resizable_image' src='http://graph.facebook.com/<%= user1.uid %>/picture?type=normal'/>
    <img class='resizable_image' src='/assets/Smackdown_150px/vs.png' />
    <img class='resizable_image' src='http://graph.facebook.com/<%= user2.uid %>/picture?type=normal'/>
  </div>
</div>
