<% smackdown=locals[:smackdown] %>
<ul id="ul_show_smackdown<%= smackdown.id %>" style="display:none;">
  <% smackdown.smackdown_rules.each do |sr| %>
    <li><b><%= sr.rule.rule_group.name %>: </b><%= sr.rule.name %></li>
  <% end %>
</ul>
