<% smackdown=locals[:smackdown] %>
<% hide_share_link=locals[:hide_share_link] %>
<section class="content">
  <div class="row">
    <%= render '/home/smackdown_header', :locals => {:smackdown=> smackdown} %>
  </div>
  <div class="row">
    <%= render '/home/smackdown_info', :locals => {:smackdown=> smackdown} %>
    <%= render '/home/smackdown_rules', :locals => {:smackdown=> smackdown} %>
    <% if !hide_share_link %>
      <%= render '/home/share_smackdown', :locals => {:smackdown=> smackdown} %>
    <% end %>
  </div>
</section>
