<% smackdown=locals[:smackdown] %>
<section class="content">
  <div class="row">
    <%= render 'smackdown_header', :locals => {:smackdown=> smackdown} %>
  </div>
  <div class="row">
    <%= render 'smackdown_info', :locals => {:smackdown=> smackdown} %>
    <%= render 'smackdown_rules', :locals => {:smackdown=> smackdown} %>
    <%= render 'share_smackdown', :locals => {:smackdown=> smackdown} %>
  </div>
</section>
