<% smackdown=locals[:smackdown] %>
<section class="content">
  <div class="row">
    <%= render '/home/smackdown_header', :locals => {:smackdown=> smackdown} %>
  </div>
  <div class="row">
    <%= render '/home/smackdown_info', :locals => {:smackdown=> smackdown} %>
    <%= render '/home/smackdown_rules', :locals => {:smackdown=> smackdown} %>
    <%= render '/home/share_smackdown', :locals => {:smackdown=> smackdown} %>
  </div>
</section>
