<section class="content-header">
  <h1>
    Historial
    <small>smackdowns juzgados</small>
  </h1>
</section>

<div class="box">
  <div class="box-body">
    <% @judge_smackdowns.each do |smackdown| %>
      <%if smackdown.judge1_id == current_user.id%>
        <h3>j1</h3>
        <%= render 'judge1_smackdown', :locals => {:smackdown=> smackdown} %>
      <%else%>
        <h3>j2</h3>
        <%= render 'judge2_smackdown', :locals => {:smackdown=> smackdown} %>
      <%end%>
    <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->

<% if @judge_smackdowns.count == 0 %>
  <p>No tienes ninguna partida por juzgar pendiente.</p>
<% end %>
