<section class="content-header">
  <h1>
    Historial
    <small>smackdowns enviados</small>
  </h1>
</section>

<div class="box">
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Juego</th>
          <th>Jugadores</th>
          <th>Informacion</th>
          <th>Compartir</th>
        </tr>
      </thead>
      <tbody>
        <% @smackdowns.each do |smackdown| %>
          <tr>
            <%= render 'uneditable_smackdown', :locals => {:smackdown=> smackdown} %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Juego</th>
          <th>Jugadores</th>
          <th>Informacion</th>
          <th>Compartir</th>
        </tr>
      </tfoot>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->

<% if @smackdowns.count == 0 %>
  <p>Todavia no has completado ningún Smackdown.</p>
<% end %>
