<h1 align="center">Home</h1>

<% if current_user %>
  <% if !playingAtLeastAGame current_user %>
    <p>Todavía no has seleccionado tus juegos y reglas. ¡Ve a <a href="/home/profile">Mi Perfil</a> y selecionalos!</p>
  <% end %>
<% else %>

<% end %>


<%streak_global_list=[]%>
<%User.all.each do |user|%>
  <% user_streak = streakGlobal(user.id) %>
    <% if user_streak > 0 %>
      <%streak_global_list.push([user,user_streak])%>
    <% else %>
  <% end %>
<%end%>

<%streak_global_list.sort_by { |user, streak| streak }.reverse.each do |streak|%>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-angle-double-up"></i></span>
        <div class="info-box-content">
          <table>
            <tr>
              <td>
                <img height="90" src='http://graph.facebook.com/<%= streak[0].uid %>/picture?type=normal'/>
              </td>
              <td>
                <span class="info-box-text">Racha</span>
                <span class="info-box-number"><%= streak[1] %></span>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>
<%end%>


<div class="box">
  <div class="box-header">
    <h3 class="box-title">Haz click para visitar a un usuario</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Juego</th>
          <th>Jugadores</th>
          <th>Informacion</th>
          <th>Compartir</th>
        </tr>
      </thead>
      <tbody>
        <% Smackdown.find(:all, :order => "created_at desc", :limit => 5).reverse.each do |smackdown| %>
          <tr>
            <%= render 'uneditable_smackdown', :locals => {:smackdown=> smackdown} %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Juego</th>
          <th>Jugadores</th>
          <th>Informacion</th>
          <th>Compartir</th>
        </tr>
      </tfoot>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->
