<h1 align="center">Home</h1>

<% if current_user %>
  <% if !playingAtLeastAGame current_user %>
    <p>Todavía no has seleccionado tus juegos y reglas. ¡Ve a <a href="/home/profile">Mi Perfil</a> y selecionalos!</p>
  <% end %>
<% else %>

<% end %>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Haz click para visitar a un usuario</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Juego</th>
          <th>Jugadores</th>
          <th>Informacion</th>
          <th>Compartir</th>
        </tr>
      </thead>
      <tbody>
        <% Smackdown.find(:all, :order => "created_at desc", :limit => 5).reverse.each do |smackdown| %>
          <tr>
            <%= render 'uneditable_smackdown', :locals => {:smackdown=> smackdown} %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Juego</th>
          <th>Jugadores</th>
          <th>Informacion</th>
          <th>Compartir</th>
        </tr>
      </tfoot>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->
