<h1 align="center">Home</h1>

<% if current_user %>
  <% if !playingAtLeastAGame current_user %>
    <p>Todavía no has seleccionado tus juegos y reglas. ¡Ve a <a href="/home/profile">Mi Perfil</a> y selecionalos!</p>
  <% end %>
<% else %>

<% end %>
