<h1>Acabas de juzgar el siguiente smackdown</h1>

<% smackdown = Smackdown.find_by_id(params["smackdown_id"]) %>

<p>Jugador 1: <%= User.find_by_id(smackdown.player1_id).name %></p>
<p>Jugador 2: <%= User.find_by_id(smackdown.player2_id).name %></p>
<p>
  Respuesta:
  <% if smackdown.judge2_accepted %>
    Aceptado
  <% else %>
    Rechazado
  <% end %>
</p>
<p>Ganador: <%= User.find_by_id(smackdown.judge2_winner_id).name %></p>
<p>Comentario: <%= smackdown.judge2_comment %></p>
