<h1 align="center">¡Juzgar!</h1>
<% judge_pending = false %>
<hr>
<% Smackdown.where(:judge1_id=>current_user.id, :judge1_accepted => nil).each do |smackdown| %>
  <% judge_pending = true %>
  <%= render 'judge1_smackdown', :locals => {:smackdown=> smackdown} %>
  <hr>
  </br>
<% end %>

<% Smackdown.where(:judge2_id=>current_user.id, :judge2_accepted => nil).each do |smackdown| %>
  <% next if smackdown.judge1_id==smackdown.judge2_id %>
  <%= render 'judge2_smackdown', :locals => {:smackdown=> smackdown} %>
  <hr>
  </br>
<% end %>

<% if !judge_pending %>
  <p>No tienes ninguna partida por juzgar pendiente.</p>
<% end %>
