<div class="box">
  <div class="box-header">
    <h3 class="box-title">Haz click para visitar a un usuario</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <% User.all.each do |user| %>
          <% if user.id!=current_user.id %>
            <tr>
              <td>
                <a href="/home/visit/<%= user.id %>">
                  <img class="resizable_image" src="http://graph.facebook.com/<%= user.uid %>/picture?type=large"/>
                </a>
              </td>
              <td>
                <a href="/home/visit/<%= user.id %>"><%= user.name%></a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
        </tr>
      </tfoot>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->

