<h2>Seleciona el usuario</h2>
<table>
  <% User.all.each do |user| %>
    <% if user.id!=current_user.id %>
      <tr>
        <td>
          <a href="/home/visit/<%= user.id %>">
            <img class="resizable_image" src="http://graph.facebook.com/<%= user.uid %>/picture?type=large"/>
          </a>
        </td>
        <td><a href="/home/visit/<%= user.id %>"><%= user.name%></a>
      </tr>
    <% end %>
  <% end %>
</table>

