<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<section class="content-header">
  <h1>
    Esperando oponente
    <small>avisale a tus oponentes que les enviaste un smackdown</small>
  </h1>
</section>

<%= render 'toggle_all_smackdowns', :locals => {:smackdowns=> @smackdowns} if @smackdowns.count > 0 %>

<hr>
<% @smackdowns.each do |smackdown| %>
  <%= render 'uneditable_smackdown', :locals => {:smackdown=> smackdown} %>
  <hr>
  </br>
<% end %>

<% if @smackdowns.count == 0 %>
  <p>Todavia no has completado ningún Smackdown.</p>
<% end %>
