
<h2>Esperando juez</h2>

<% smackdown_pending = false %>
<hr>
<% wating_judges = getWatingJudge %>
<% wating_judges.each do |smackdown| %>
  <% smackdown_pending = true %>
  <%= render 'uneditable_smackdown', :locals => {:smackdown=> smackdown} %>
  <HR>
  </br>
<% end %>

<% if !smackdown_pending %>
  <p>Todavia no has completado ningún Smackdown.</p>
<% end %>
