<h1 align="center">Esperando oponente</h1>

<p id="notice"><%= notice %></p>

<%= render 'toggle_all_smackdowns', :locals => {:smackdowns=> @smackdowns} if @smackdowns.count > 0 %>

<hr>
<% @smackdowns.each do |smackdown| %>
  <%= render 'uneditable_smackdown', :locals => {:smackdown=> smackdown} %>
  <hr>
  </br>
<% end %>

<% if @smackdowns.count == 0 %>
  <p>Todavia no has completado ningún Smackdown.</p>
<% end %>
