<div class="box">
  <div class="box-header">
    <h3 class="box-title">Enviar un Smackdown paso 1/3: Selecciona el usuario</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <% User.all.each do |user| %>
          <% if user.id!=current_user.id %>
            <tr>
              <td>
                <% if user.uid!= nil %>
                  <%= link_to image_tag("http://graph.facebook.com/" + user.uid + "/picture?type=large", :class => "resizable_image"), {:controller => "smackdown_creator", :action => "select_game", :user_id => user.id }%>
                <% end %>
              </td>
              <td>
                <%= link_to user.name,{:controller => "smackdown_creator", :action => "select_game", :user_id => user.id }%>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
        </tr>
      </tfoot>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->

