<section class="content-header">
  <h1>
    Enviar un Smackdown paso 2/3
    <small>selecciona el juego</small>
  </h1>
</section>

<table align="center">
  <tr>
    <td>
      <img class="resizable_image" src="/assets/Smackdown_150px/vs.png"/>
    </td>
    <td>
      <img class="resizable_image" src="http://graph.facebook.com/<%= @user.uid %>/picture?type=large"/>
    </td>
  </tr>
</table>
</br>

<h2 align="center">Selecciona el juego</h2>

<% Game.all.each do |game| %>
  <% receiving_smackdown = true %>
  <% if userIsPlayingGame(@user.id,game.id) %>
    <div align="center">
      <%= link_to image_tag(game.image_path, :class => "resizable_image", :align => "center"), {:controller => "smackdown_creator", :action => "select_judge", :game_id => game.id, :user_id =>@user.id }%>
    </div>
    </br>
  <% end %>
<% end %>
